In [3]:
# After finding out databases make a new connection to the server but this time to that particular database
import mysql.connector
ctsdb = mysql.connector.connect(
    host = 'localhost',
    port = 'write the port number on which your mysql server is running',
    user = 'your username',
    password = 'your server password',
    database = 'your database name'
)
# making cursor to use a database called girrafe
curd = ctsdb.cursor()

## Form here working in the database called girrafe

In [1]:
query = '''
CREATE TABLE employee(
emp_id INT PRIMARY KEY,
first_name VARCHAR(16),
last_name VARCHAR(16),
birth_day DATE,
sex VARCHAR(1),
salary INT,
super_id INT,
branch_id INT
);
'''

In [4]:
curd.execute(query)

In [5]:
create_branch_table = '''
CREATE TABLE branch(
branch_id INT PRIMARY KEY,
branch_name VARCHAR(20),
mgr_id INT,
mgr_start_date DATE,
FOREIGN KEY(mgr_id) REFERENCES employee(emp_id) ON DELETE SET NULL
);
'''
curd.execute(create_branch_table)

In [6]:
branchid_as_forkey_employee = '''
ALTER TABLE employee
ADD FOREIGN KEY(branch_id)
REFERENCES branch(branch_id)
ON DELETE SET NULL;
'''
curd.execute(branchid_as_forkey_employee)

In [7]:
empid_as_forkey_employee = '''
ALTER TABLE employee
ADD FOREIGN KEY(super_id)
REFERENCES employee(emp_id)
ON DELETE SET NULL;
'''
curd.execute(empid_as_forkey_employee)

In [8]:
create_client_table = '''
CREATE TABLE client(
client_id INT PRIMARY KEY,
client_name VARCHAR(20),
branch_id INT,
FOREIGN KEY(branch_id) REFERENCES branch(branch_id) ON DELETE SET NULL
);
'''
curd.execute(create_client_table)

In [9]:
create_workswith_table = '''
CREATE TABLE works_with(
emp_id INT,
client_id INT,
total_sales INT,
PRIMARY KEY(emp_id,client_id),
FOREIGN KEY(emp_id) REFERENCES employee(emp_id) ON DELETE CASCADE,
FOREIGN KEY(client_id) REFERENCES client(client_id) ON DELETE CASCADE
);
'''
curd.execute(create_workswith_table)

In [10]:
create_branchsupplier_table = '''
CREATE TABLE branch_supplier(
branch_id INT,
supplier_name VARCHAR(20),
supply_type VARCHAR(20),
PRIMARY KEY(branch_id,supplier_name),
FOREIGN KEY(branch_id) REFERENCES branch(branch_id) ON DELETE CASCADE
);
'''
curd.execute(create_branchsupplier_table)

## Filling Corporate branch

In [11]:
curd.execute('''
INSERT INTO employee VALUES(100,'David','Wallace','1967-11-17','M',250000,NULL,NULL);
''')

In [12]:
curd.execute('''
INSERT INTO branch VALUES(1,'Corporate',100,'2006-02-09');
''')

In [13]:
curd.execute('''
UPDATE employee
SET branch_id = 1
WHERE emp_id = 100;
''')

In [14]:
curd.execute('''
INSERT INTO employee VALUES(101,'Jan','Levison','1961-05-11','F',110000,100,1);
''')

## Filling Scranton branch

In [15]:
curd.execute('''
INSERT INTO employee VALUES(102,'Michael','Scott','1964-03-15','M',75000,100,NULL);
''')

In [16]:
curd.execute('''
INSERT INTO branch VALUES(2,'Scranton',102,'1992-04-06');
''')

In [17]:
curd.execute('''
UPDATE employee SET branch_id = 2 WHERE emp_id = 102;
''')

In [18]:
curd.execute('''
INSERT INTO employee VALUES(103,'Angela','Martin','1971-06-25','F',63000,102,2);
''')

In [19]:
curd.execute('''
INSERT INTO employee VALUES(104,'Kelly','Kapoor','1980-02-05','F',55000,102,2);
''')

In [20]:
curd.execute('''
INSERT INTO employee VALUES(105,'Stanley','Hudson','1958-02-19','M',69000,102,2);
''')

## Filling Stamford branch

In [21]:
curd.execute('''
INSERT INTO employee VALUES(106,'Josh','Porter','1969-09-05','M',78000,100,NULL);
''')
curd.execute('''
INSERT INTO branch VALUES(3,'Stamford',106,'1998-02-13');
''')
curd.execute('''
UPDATE employee SET branch_id = 3 WHERE emp_id = 106;
''')
curd.execute('''
INSERT INTO employee VALUES(107,'Andy','Bernard','1973-07-22','M',65000,106,3);
''')
curd.execute('''
INSERT INTO employee VALUES(108,'Jim','Halpert','1978-10-01','M',71000,106,3);
''')

## Filling branch_supplier table

In [24]:
curd.execute('''
INSERT INTO branch_supplier VALUES(2,'Hammer Mill','Paper');
''')
curd.execute('''
INSERT INTO branch_supplier VALUES(2,'Uni-ball','Writing Utensils');
''')
curd.execute('''
INSERT INTO branch_supplier VALUES(3,'Patriot Paper','Paper');
''')
curd.execute('''
INSERT INTO branch_supplier VALUES(2,'J.T. Forms & Labels','Custom Forms');
''')
curd.execute('''
INSERT INTO branch_supplier VALUES(3,'Uni-ball','Writing Utensils');
''')
curd.execute('''
INSERT INTO branch_supplier VALUES(3,'Hammer Mill','Paper');
''')
curd.execute('''
INSERT INTO branch_supplier VALUES(3,'Stamford Lables','Custom Forms');
''')

## Filling client table

In [25]:
curd.execute('''
INSERT INTO client VALUES(400,'Dunmore Highschool',2);
''')
curd.execute('''
INSERT INTO client VALUES(401,'Lackawana Country',2);
''')
curd.execute('''
INSERT INTO client VALUES(402,'FedEx',3);
''')
curd.execute('''
INSERT INTO client VALUES(403,'John Daly Law, LLC',3);
''')
curd.execute('''
INSERT INTO client VALUES(404,'Scranton Whitepages',2);
''')
curd.execute('''
INSERT INTO client VALUES(405,'Times Newspaper',3);
''')
curd.execute('''
INSERT INTO client VALUES(406,'FedEx',2);
''')

## Filling works_with table

In [26]:
curd.execute('''
INSERT INTO works_with VALUES(105,400,55000);
''')
curd.execute('''
INSERT INTO works_with VALUES(102,401,267000);
''')
curd.execute('''
INSERT INTO works_with VALUES(108,402,22500);
''')
curd.execute('''
INSERT INTO works_with VALUES(107,403,5000);
''')
curd.execute('''
INSERT INTO works_with VALUES(108,403,12000);
''')
curd.execute('''
INSERT INTO works_with VALUES(105,404,33000);
''')
curd.execute('''
INSERT INTO works_with VALUES(107,405,26000);
''')
curd.execute('''
INSERT INTO works_with VALUES(102,406,15000);
''')
curd.execute('''
INSERT INTO works_with VALUES(105,406,130000);
''')